body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-style: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #40514E 6px;
  border-bottom: 0;
  width: 4%;
  margin: 140px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.intro{
  width: 27%;
  margin: 0 auto;
}

.middle-container{
position: relative;
}

.skill-row{
  width: 50%;
  margin: 140px auto 140px auto;
  text-align: left;
  line-height: 2;
}

.bottom-container{
    margin-top: 70px;
    padding: 50px 0 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #66BFBF;
}

.outro{
  width: 30%;
  margin: 50px auto 50px auto;

}

.footer-link {
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

:hover.footer-link{
  color: #EAF6F6;
}

.copyright{
  padding-top: 20px;
  font-size: 0.75rem;
  color: #EAF6F6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
  width: 150px;
}

.bottom-cloud{
  position: absolute;
  left: 200px;
  bottom: 15%;
  width: 150px;
}

.synth{
  width: 400px;
}

.profile{
  color: #40514E;
}

.user{
  margin-top: 40px;
  width: 10%;
}


.piano{
  float: right;
  width: 25%;
  margin-left: 30px;
}

.guitar{
  float: left;
  width: 25%;
  margin-right: 30px;
}
